<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <title>SemWeb 2022 - Adam El Besri &amp; Roman Guirbal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.21.2/dist/bootstrap-table.min.css">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.21.2/dist/extensions/sticky-header/bootstrap-table-sticky-header.css">
</head>
<body>
    <h1> Add an Event manually </h1>
    <div class="container">
        <div class="mt-4">
            <form th:action="@{/event}" th:object="${event}" method="post">
                <label for="name">Name:</label>
                <input type="text" id="name" th:field="*{name}"/><br>
                <label for="description">Description:</label>
                <input type="text" id="description" th:field="*{description}"/><br>
                <label for="location">Location:</label>
                <input type="text" id="location" th:field="*{location}"/><br>
                <label for="start-date">Start Date:</label>
                <input type="datetime-local" id="start-date" th:field="*{startDate}"/><br>
                <label for="end-date">End Date:</label>
                <input type="datetime-local" id="end-date" th:field="*{endDate}"/><br>
                <label for="is-course">Is a course?</label>
                <input type="checkbox" id="is-course" th:field="*{isCourse}"/> <br>
                <label for="attendee">Attendee by ? :</label>
                <input type="text" id="attendee" th:field="*{attendee}"/><br>
                <input type="submit" value="Create Event"/>
            </form>

            <div th:if="${success}" th:text="${success}" class="alert-success alert" onclick="this.remove();" style="cursor:pointer" />
            <div th:if="${error}" th:text="${error}" class="alert alert-danger" onclick="this.remove();" style="cursor:pointer" />
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-table@1.21.2/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.21.2/dist/extensions/sticky-header/bootstrap-table-sticky-header.js"></script>
</body>
</html>