<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <title>SemWeb 2022 - Adam El Besri &amp; Roman Guirbal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.21.2/dist/bootstrap-table.min.css">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.21.2/dist/extensions/sticky-header/bootstrap-table-sticky-header.css">
</head>
<body>
    <div class="container">
        <div class="mt-4">
            <h1>Event Details</h1>
            <p>Name: <span th:text="${event.name}"></span></p>
            <p>Description: <span th:text="${event.description}"></span></p>
            <p>Location: <span th:text="${event.location}"></span></p>
            <p>Start Date: <span th:text="${event.startDate}"></span></p>
            <p>End Date: <span th:text="${event.endDate}"></span></p>
            <p>Is it a course : <span th:text="${event.isCourse}"></span></p>
            <p>Attendee by : <span th:text="${event.attendee}"></span></p>


        </div>
        <div>
            <a th:href="@{/}" class="btn btn-secondary" >Return to homepage</a>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-table@1.21.2/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.21.2/dist/extensions/sticky-header/bootstrap-table-sticky-header.js"></script>
    <script th:if="${success}">
        document.addEventListener('DOMContentLoaded', () => {
            Swal.fire({
                title: "[[${success}]]",
                icon: 'success',
                confirmButtonColor: 'green'
            });
        });
    </script><script th:if="${error}">
        document.addEventListener('DOMContentLoaded', () => {
            Swal.fire({
                html: "<p>[[${error}]]</p>",
                icon: 'error',
                confirmButtonColor: 'red'
            });
        });
    </script>
</body>
</html>