<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <title>SemWeb 2022 - Adam El Besri &amp; Roman Guirbal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.0.2/index.global.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.21.2/dist/bootstrap-table.min.css">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.21.2/dist/extensions/sticky-header/bootstrap-table-sticky-header.css">
</head>
<body>
    <div class="container">
        <div class="mt-4">
            <div>
                <h1>Actions</h1>
                <div>
                    <a href="/territoire-event"><button class="btn btn-outline-primary">Add test event</button></a>
                    <a href="/territoire-event?delete=true"><button class="btn btn-secondary">Remove test event</button></a>
                </div>
                <div class="mt-2">
                    <a th:href="@{/add}"><button class="btn btn-success">Create en event</button></a>
                </div>
                <br>
                <h1>Upload .ical File</h1>
                <form method="post" th:action="@{/upload}" enctype="multipart/form-data">
                    <input type="file" name="icalFile" accept=".ical"/>
                    <button type="submit">Upload</button>
                </form>
                <br>
                <div class="mt-2">
                    <a th:href="@{/myfuturecourses}"><button class="btn btn-primary">My future courses</button></a>
                </div>
                <div class="mt-2">
                    <a th:href="@{/steEvents}"><button class="btn btn-primary">Saint Etienne not courses event</button></a>
                </div>
                <div class="mt-2">
                    <a th:href="@{/parsing}"><button class="btn btn-success">Parse Alentoor events </button></a>
                </div>

            </div>
            <div class="mt-3" id="calendar"></div>
            <div class="mt-3">
                <h1 class="mb-0">Données RDF</h1>
                <table class="rdf-table"
                       data-toggle="table"
                       data-search="true"
                       data-pagination="true"
                       data-sticky-header="true">
                    <thead>
                        <tr>
                            <th>Subject</th>
                            <th>Predicate</th>
                            <th>Object</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="triple: ${triples}">
                            <td th:text="${triple[0]}"></td>
                            <td th:text="${triple[1]}"></td>
                            <td th:text="${triple[2]}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-table@1.21.2/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.21.2/dist/extensions/sticky-header/bootstrap-table-sticky-header.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script th:inline="javascript">
        document.addEventListener('DOMContentLoaded', () => {
            const calendarEl = document.getElementById("calendar");
            const calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                dateClick: function (info) {
                    console.log('Clicked on ' + info.dateStr);
                },
                eventClick: function(info, jsEvent, view) {
                    console.log(info.event);
                    Swal.fire({
                       icon: "info",
                       html: "<div class='text-start'><b>Title: </b>" + info.event.title + "<br>"
                           + "<b>Start: </b>" + info.event.start + "<br>"
                           + "<b>End: </b>" + info.event.end + "</br>"
                           + "<b>Localisation: </b>" + info.event.extendedProps.location + "<br>"
                           // + "Description: " + info.event.extendedProps.description + "<br>"
                           + "<b>URI: </b>" + info.event.extendedProps.uri + "</div>"
                           + "<div>" +
                           "<a href=\"/event/modify/" + info.event.extendedProps.uri.split("/").at(-2) + "\" class='btn btn-outline-primary'>Modify event</a>" +
                           "</div>"
                    });
                }
            });

            // calendar.addEvent({
            //     date: "2023-01-11T10:00:00",
            //     title: "Test"
            // }).setEnd("2023-01-11T12:00:00");

            /*<![CDATA[*/

            /*[# th:each="event : ${events}"]*/
            calendar.addEvent({
                title: [[${event[0]}]],
                start: [[${event[1]}]],
                end: [[${event[2]}]],
                location: [[${event[3]}]],
                description: [[${events[4]}]],
                uri: [[${event[5]}]]
            });
            /*[/]*/

            /*]]>*/

            calendar.render();
        });
    </script>
    <script th:if="${success}">
        document.addEventListener('DOMContentLoaded', () => {
            Swal.fire({
                title: "[[${success}]]",
                icon: 'success',
                confirmButtonColor: 'green'
            });
        });
    </script><script th:if="${error}">
        document.addEventListener('DOMContentLoaded', () => {
            Swal.fire({
                html: "<p>[[${error}]]</p>",
                icon: 'error',
                confirmButtonColor: 'red'
            });
        });
    </script>
</body>
</html>