<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <title>SemWeb 2022 - Adam El Besri &amp; Roman Guirbal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.0.2/index.global.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.21.2/dist/bootstrap-table.min.css">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.21.2/dist/extensions/sticky-header/bootstrap-table-sticky-header.css">
</head>
<body>
<div class="container">
    <div class="mt-4">
        <div class="mt-3" id="calendar"></div>
        <div class="mt-3">
            <h1 class="mb-0">Saint Etienne Events</h1>
            <table class="rdf-table"
                   data-toggle="table"
                   data-search="true"
                   data-pagination="true"
                   data-sticky-header="true">
                <thead>
                <tr>
                    <th>Course</th>
                    <th>Description</th>
                    <th>Location</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                </tr>
                </thead>
                <tbody>
                <tr  th:each="triple: ${triples}">
                    <td style="white-space: normal;" th:text="${triple[0]}"></td>
                    <td style="white-space: normal;" th:text="${triple[4]}"></td>
                    <td style="white-space: normal;" th:text="${triple[3]}"></td>
                    <td style="white-space: normal;" th:text="${triple[1]}"></td>
                    <td style="white-space: normal;" th:text="${triple[2]}"></td>
                </tr>
                <tr  th:each="event: ${events}">
                    <td style="white-space: normal;" th:text="${event[0]}"></td>
                    <td style="white-space: normal;" th:text="${event[4]}"></td>
                    <td style="white-space: normal;" th:text="${event[3]}"></td>
                    <td style="white-space: normal;" th:text="${event[1]}"></td>
                    <td style="white-space: normal;" th:text="${event[2]}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="https://unpkg.com/bootstrap-table@1.21.2/dist/bootstrap-table.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.21.2/dist/extensions/sticky-header/bootstrap-table-sticky-header.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</body>
</html>