<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Upload Status</title>
</head>
<body>
<h1>Upload Status</h1>
<div th:if="${message}">
    <p th:text="${message}"></p>
</div>
<div th:if="${error}">
    <p th:text="${error}"></p>
</div>
</body>
</html>
